{% block title 'Andrea Catozzi' %}

{% block body %}
    {% block content_header %}
        <div>
            <div><a href="/">Home</a></div>
            <div><a href="/biography">Bio</a></div>
            <div><a href="/contact">Contact</a></div>
            <div><a href="/pictures">Photos</a></div>
            <div><a href="/videos">Vidéos</a></div>

            <div><a href="/admin">Page de connection BO</a></div>
        </div>

        <div style="clear: both"></div>
    {% endblock %}

    <div class="block">
        {% block content %}{% endblock %}
    </div>
{% endblock %}