<link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

{% block body %}
    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Connection </h3>
                            <hr>

                            <form action="{{ path('login_check') }}" method="post">
                                <div class="top-margin">
                                    <label for="username">Nom d'utilisateur</label>
                                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required">
                                </div>
                                <div class="top-margin">
                                    <label for="password">Mot de passe</label>
                                    <input type="password" class="form-control" id="password" name="_password" required="required">
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-lg-4 text-right">
                                        <button class="btn btn-action" type="submit" id="_submit" name="_submit">Sign in</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>

            </article>
            <!-- /Article -->

        </div>
    </div>	<!-- /container -->
{% endblock %}