<!DOCTYPE html>
<html>
    <head>
        <style>
            section { background-color: #f6f6f6 }
            h1, h2 { text-align: center; }
        </style>
    </head>
    <body>
        <section>
            <h1>Nouveau message du site andreacatozzi.com :</h1>

            <p>Nom: {{ contact.name }}</p>
            <p>Date: {{ "now" | date("Y-m-d") }}</p>
            <p>Email de réponse: {{ contact.email }}</p>

            <div>
                <h2>Message:</h2>
                <div>{{ contact.message }}</div>
            </div>
        </section>
    </body>
</html>